header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    text-transform: uppercase;

    &.header--hidden {
        transform: translateY(-100%);
    }
}

nav {
    display: flex;
    align-items: center;
    padding: 20px 20px;


    div:first-child {
        flex: 0 0 auto;

        a {
            font-size: var(--font-size-h3);
            font-weight: bold;
        }

        svg {
            display: block;
            padding: 0.5rem;
            height: 3.1dvw;
            min-height: 24px;
            width: auto;
            fill: var(--color-dark-green) !important;
            ;
        }
    }

    div:last-child {
        flex: 1;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 8px;

        li {
            padding: 10px 15px;
            border-radius: var(--border-radius);
            align-items: center;
            line-height: 1rem;

            a {
                text-decoration: none;
                color: var(--color-dark-green);
                font-size: clamp(.875rem, 1.1111111111vw, 1.3333333333rem);
            }

            div {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &:last-of-type {
                padding: 0 0 0 10px;
                font-size: clamp(.875rem, 1.1111111111vw, 1.3333333333rem);
            }
        }

        #settings-container {
            gap: 0;
            border-radius: 2em;
            border: 1px solid var(--color-dark-green);

            button {
                padding: .5em .8125em .5em 1em;
                border: none;
                background: transparent;
                color: var(--color-dark-green);
                font-weight: var(--font-weight-body);
                font-size: clamp(.875rem, 1.1111111111vw, 1.3333333333rem);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            button:nth-of-type(1) {
                border-right: 1px solid var(--color-dark-green);
            }

            button:nth-of-type(2) {
                padding: 0.5rem 1rem;
            }

            #theme-icon {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: linear-gradient(90deg,
                        var(--color-dark-green) 50%,
                        var(--color-white, #ffffff) 50%);
                transition: transform 0.5s ease-in-out;
            }

            #theme-toggle.is-rotated #theme-icon {
                transform: rotate(180deg);
            }
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    align-items: start;
    grid-template-rows: clamp(2rem, 3.3333333333vw, 4rem) auto auto auto;
    gap: 1.5rem;
    width: 100%;
    padding: clamp(3rem, 5.5555555556vw, 6.6666666667rem) 1.5rem 1.5rem;
    background-color: var(--color-dark-green);
    color: var(--color-white);

    #footer_left {
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: span 4;
        grid-row: span 3;
        display: grid;

        #footer_logo {
            grid-row: 1;
            height: auto;
            color: var(--color-purple);
            width: auto;
            height: clamp(2rem, 3.3333333333vw, 4rem);
        }

        #footer_title {
            grid-row: 2;
            grid-column: span 3;
            color: var(--color-white);
            width: auto;
            font-weight: 400;
            font-size: clamp(2rem, 3.75vw, 4.5rem);
            margin: 0;
        }

        #footer_email {
            grid-row: 3;
            color: var(--color-dark-green);
            text-decoration: none;
            width: auto;
            height: clamp(2rem, 3.3333333333vw, 4rem);
            margin-top: 1rem;


            span {
                background-color: var(--color-purple);
                border: var(--color-dark-green) 1px solid;
                padding: 1rem;
                border-radius: 1.5em;
                font-size: clamp(1.125rem, 1.3888888889vw, 1.6666666667rem);
            }
        }
    }

    #footer_right{
        display: flex;
        font-size: clamp(.875rem, 1.1111111111vw, 1.3333333333rem);
        justify-content: space-between;
        gap: 1.5rem;


        #content_left{
            list-style: none;

            li + li {
                margin-top: .5em;
            }

            li a{
                text-decoration: none;
                color: var(--color-white)
            }
        }

        #content_middle{
            color: var(--color-white);
        }
    }
}