.picture-of-month-container {
    background-color: var(--color-light-gold);
    
    h2 {
        font-size: var(--font-size-h2);
        text-align: center;
        color: var(--color-dark-green);
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

/* img container */
#fish-picture-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(400px , 1fr));
    place-items: center;
    gap: 1.5rem;
}

/* random img */
#fish-image {
    width: 60%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

/* icons of all fishes */
.fish-icons-list, .fish-icons-list-popover {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 65%;
        }
    }
}

/* the popup */
.fish-picture-popup {
    display: none;
    position: fixed;
    top: 5%;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: clamp(50vw, 75vw, 100vw);

    div {
        background-color: var(--color-off-white);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0rem 1rem 0rem;

        h3 {
            color: var(--color-dark-green);
            margin: 0;
        }
    }

    img {
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }
}

/* popup button */
.fish-popup-button {
    display: none;
    position: fixed;
    top: 3rem;
    right: 1rem;
    background-color: var(--color-off-white);
    border-radius: 99px;
    border: none;
    padding: .8rem;
    z-index: 1000;

    &:hover {
        cursor: pointer;
        background-color: var(--color-dark-green);

        .close-popup-svg {
            color: var(--color-off-white);
        }  
    }

    .close-popup-svg {
        color: var(--color-dark-green)
    }
}

.popover-container {
    display: none;
}

@media screen and (max-width: 600px) {
    .fish-icons-list {
        display: none;
    }

    .popover-container {
        display: grid;
    }

}