/********************************/
/* MARK: Variables for identity */
/********************************/

/* Design tokens */
:root {
  /* Colors */
  --color-purple: rgba(192, 168, 255, 1);
  --color-white: rgb(255, 255, 255);
  --color-light-gold: rgba(248, 231, 205, 1);
  --color-dark-green: rgba(1, 70, 60, 1);
  --color-off-white: rgba(253, 247, 239, 1);
  --color-gold: rgba(240, 175, 0, 1);

  /* Gradients */
  --gradient-data-background: linear-gradient(
    to bottom,
    rgba(248, 231, 205, 1),
    rgba(253, 247, 239, 1)
  );

  --gradient-purple: linear-gradient(
    to bottom,
    rgba(161, 114, 255, 1),
    rgba(192, 168, 255, 1)
  );

  /* Typography Desktop */
  --font-heading: "Bricolage Grotesque", sans-serif;
  --font-body: "Bricolage Grotesque", sans-serif;

  --font-size-h1: 54px;
  --font-size-h2: 36px;
  --font-size-h3: 27px;

  --font-size-normal: 20px;
  --font-size-small: 16px;

  --line-height-headers: 125%;
  --line-height-normal: 150%;

  /* Typography Mobile */
  --mobile-font-size-h1: 32px;
  --mobile-font-size-h2: 28px;
  --mobile-font-size-h3: 20px;

  --mobile-font-size-normal: 18px;
  --mobile-font-size-small: 14px;

  /* Font weights */
  --font-weight-headings: 800;
  --font-weight-body: 400;

  /* Styling */
  --border-radius: 16px;
}

/***********************/
/* MARK: BASIC STYLING */
/***********************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  background: var(--color-background);
  color: var(--color-text);
}
