.fish-facts-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    background-color: var(--color-off-white);

    li:hover {
        cursor: pointer;
    }
}

.fish-facts-popover {
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: var(--color-dark-green);
    display: none;
    border-radius: 8px;

    div {
        overflow-y: scroll;
    }

    h2 {
        justify-self: center;
    }
}

.fish-facts-icon {
    transform: scaleX(-1) rotate(30deg);
    position: absolute;
    top: -10%;
    left: -10%;
    width: 25rem;

}

.fish-facts-name {
    color: var(--color-light-gold);
}

.fish-facts-close {
    height: 2rem;
    width: 5rem;
    background-color: var(--color-gold);
    border: none;
    position: absolute;
    top: 5%;
    right: 5%;

    &:hover {
        cursor: pointer;
    }
}

.fish-facts-recent-pictures {
    width: 60%;
    border-radius: 8px;
}