.picture-of-month-container {
    background-color: var(--color-light-gold);
    padding-bottom: 3rem;
    
    h2 {
        font-size: var(--font-size-h2);
        text-align: center;
        color: var(--color-dark-green);
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

/* img container */
.fish-picture-list {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    gap: 1.5rem;
}

/* random img */
.fish-image {
    width: 60%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

/* feedback guess */
.guess-fish-feedback, .guess-fish-feedback-popover {
    height: 2rem;
}

/* icons of all fishes */
.fish-icons-list, .fish-icons-list-popover {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 65%;
        }
    }
}

/* the popup */
.popover-container {
    display: none;
    position: fixed;
    height: 80%;
    top: 10%;
    left: 10%;
    z-index: 999;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-green);
    border: solid 5px var(--color-light-gold);
    width: clamp(50vw, 75vw, 100vw);

    ul {
        width: 100%;
        height: 70%;
        overflow-x: scroll;
        scroll-snap-type: mandatory;
        scrollbar-width: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
}

/* popup button */
.popover-button {
    display: none;
    justify-self: center;
    background-color: var(--color-dark-green);
    color: var(--color-off-white);
    border: none;
    border-radius: 99px;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
        background-color: var(--color-off-white);
        color: var(--color-dark-green);
        cursor: pointer
    }
}

.close-popover {
    position: fixed;
    top: 3rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-green);
    border-radius: 99px;
    border: none;
    padding: .8rem;
    z-index: 1000;

    &:hover {
        cursor: pointer;
        background-color: var(--color-dark-green);
    }
}

@media screen and (max-width: 765px) {
    .picture-of-month-container {
        height: 50vh;

        h3 {
            display: none;
        }
    }

    .popover-container {

        p {
            color: var(--color-off-white)
        }

        div {
            img {
                width: 100%;
                border-radius: 0px 0px 20px 20px;
            }
        }
    }
   
    .fish-icons-list {
        display: none;
    }

    .popover-button {
        display: flex;
    }

    .guess-fish-feedback {
        height: 0;
    }
}