.world-map-section {
  background: var(--color-off-white);
}

.world-map {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 1.5rem;
}

.world-map-country {
  stroke: var(--color-dark-green);
  stroke-width: 1;
  cursor: pointer;

  transition:
    fill 0.2s ease,
    opacity 0.2s ease;
}

.world-map-country:hover {
  opacity: 0.5;
}

.world-map-country:focus {
  outline: none;
  stroke: var(--color-black);
  stroke-width: 2;
}

.world-map-country:focus-visible {
  filter: brightness(1.2);
}

.world-map-tooltip {
  position: fixed;
  z-index: 1000;

  display: none;

  padding: 0.75rem 1rem;

  background: var(--color-purple);
  color: var(--color-dark-green);

  border-radius: 0.75rem;

  font-size: 0.875rem;
  pointer-events: none;
}

.world-map-section {
  padding: 2rem;
}

.world-map-legend {
  font-family: "PT Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  color: var(--color-dark-green);
}

.world-map-legend-gradient {
  width: 200px;
  height: 16px;
  border-radius: 999px;
  background: linear-gradient(to right, #ffffff, var(--color-dark-green));
  border: 1px solid #000000;
}

.world-map-title,
.world-map-description,
.world-map-summary {
  text-align: center;
}

.skip-link {
  position: fixed;
  top: -100px;
  left: 50%;
  padding: 1rem 1.5rem;
  background: var(--color-dark-green);
  color: var(--color-white);
  border-radius: 0.75rem;
  z-index: 1000;
  transition: top 0.3s ease;
}

.skip-link:focus {
  left: 1rem;
  top: 1rem;
}
